<div style="text-align:center">
  <h1 >分销商管理
        <button type="button" class="btn my_btn pull-right" ng-click="open()"><span class="glyphicon glyphicon-plus"></span></button>
  </h1>
</div>
<hr/>
<div class="dis_wrapper">
    <div class="ops clearfix">
        <div class="col-xs-12 r_dash">
          <input class="form-control input-lg" type="text" ng-model="query" placeholder="请输入厂商名称或者电话">
        </div>
    </div>
    <div ng-repeat="info in datas | filter:query "  ng-switch="info.isEditing" class="disbox f-i" ng-form="disForm">
        <div class="yyzz">
            <img ng-src="img/case.png"/>
        </div>
        <div class="ding">
            <img ng-src="img/ding.png"/>
        </div>
        <div class="dis_info">
            <div class="info_s">
                <span style="letter-spacing:36px">姓</span>名：<span ng-switch-default>{{info.name}}</span>
                <div class="controls" ng-class="" ng-switch-when="true">
                    <input type="text" name="name" ng-model="info.name" class="form-control input-sm" required />
                </div>
            </div>
            <div class="info_s">
              联系电话：<span ng-switch-default>{{info.telephone}}</span>
              <div class="controls" ng-class="" ng-switch-when="true">
                  <input type="text" name="telephone" ng-model="info.telephone" class="form-control input-sm" required />
              </div>
            </div>
            <div class="info_s">
              联系地址：<span ng-switch-default>{{info.address}}</span>
              <div class="controls" ng-class="" ng-switch-when="true">
                  <input type="text" name="telephone" ng-model="info.address" class="form-control input-sm" required />
              </div>
            </div>
            <div class="btn_group">
                <button class="btn btn-primary btn-sm btn_edit" ng-click="edit(info)" ng-if="!info.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger btn-sm btn_trash" ng-click="del(info)" ng-if="!info.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                <button class="btn btn-success btn-sm btn_save" ng-click="save(info)" ng-if="info.isEditing" ng-disabled="disForm.$pristine || disForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                <button class="btn btn-danger btn-sm btn_cancle" ng-click="cancle(info)" ng-if="info.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <!-- <div style="clear:both"></div> -->
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/ng-template" id="disModal.html">
       <div class="modal-header">
           <h3 class="modal-title">添加分销商</h3>
       </div>
       <div class="modal-body">
         <div ng-form="add_dis">
           <div class="form-group">
             <label for="name">姓名</label>
             <input type="text" class="form-control" ng-model="aInfo.name" placeholder="name" required>
           </div>
           <div class="form-group">
             <label for="telephone">联系电话</label>
             <input type="number" class="form-control" ng-model="aInfo.telephone" placeholder="telephone" required>
           </div>
           <div class="form-group">
             <label for="telephone">联系地址</label>
             <input type="text" class="form-control"  ng-model="aInfo.address" placeholder="address" required>
           </div>
        </div>
       </div>
       <div class="modal-footer">
           <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="add_dis.$invalid">确定</button>
           <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
       </div>
   </script>
