<div class="aside-wrapper bg-black">
  <ul ui-nav class="nav">
      <li>
        <span class="padder text-md m-t m-b-sm"><i class="fa fa-bullhorn"></i>  ---------------------------</span>
      </li>
      <li class="">
        <a href class="auto">
          <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
          </span>
          <i class="glyphicon glyphicon-cog"></i>
          <span class="font-bold">系统设置</span>
        </a>
        <ul class="nav nav-sub">
          <li ui-sref-active="active">
            <a ui-sref="pro.administrator">
              <i class="glyphicon glyphicon-user"></i>
              <span>管理员设置</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="pro.distributor">
              <i class="glyphicon glyphicon-road"></i>
              <span>分销商管理</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href class="auto">
          <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
          </span>
          <i class="glyphicon glyphicon-tasks"></i>
          <span class="font-bold">生产管理</span>
        </a>
        <ul class="nav nav-sub">
          <li ui-sref-active="active">
            <a ui-sref="pro.products">
              <i class="glyphicon glyphicon-list-alt"
              ></i>
              <span>产品列表</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="pro.products_info">
              <i class="glyphicon glyphicon-bookmark"></i>
              <span>生产信息管理</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="pro.goods">
              <i class="glyphicon glyphicon-shopping-cart"></i>
              <span>物资管理</span>
            </a>
          </li>
        </ul>
      </li>
  </ul>
</div>
